<div class="container">
  <form action="" method="POST" class="row" class="needs-validation" novalidate>
    <table class="tbl-r02">
      {{ form.non_field_errors }}{% csrf_token %}
      <div class="col-sm-8 col-sm-offset-2">
        <tr>
          <th>名前</th>
          <td>
            <div class="form-row">
              <div class="col">
                <label for="{{ form.first_name.id_for_label }}">姓</label>
                {{ form.first_name|add_class }}{{ form.first_name.errors }}
              </div>
              <div class="col">
                <label for="{{ form.last_name.id_for_label }}">名</label>
                {{ form.last_name }}{{ form.last_name.errors }}
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th>フリガナ</th>
          <td>
            <div class="form-row">
              <div class="col">
                <label for="{{ form.first_read.id_for_label }}">セイ</label>
                {{ form.first_read }}{{ form.first_read.errors }}
              </div>
              <div class="col">
                <label for="{{ form.last_read.id_for_label }}">メイ</label>
                {{ form.last_read }}{{ form.last_read.errors }}
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th>性別</th>
          <td>
            <div class="form-group">
              {{form.gender}}{{form.gender.errors}}
            </div>
          </td>
        </tr>
        <tr>
          <th>生年月日</th>
          <td>
            <div class="form-inline">
              {{form.birth_date}}{{form.birth_date.errors}}
            </div>
          </td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td>
            <div class="form-group">
              <label for="{{ form.email.id_for_label }}"></label>
              {{form.email}}{{form.email.errors}}
            </div>
          </td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td>
            <div class="form-group">
              <label for="{{ form.phone.id_for_label }}"></label>
              {{form.phone}}{{form.phone.errors}}
            </div>
          </td>
        </tr>
      </div>
      <tr>
        <th>パスワード</th>
        <td>
          <div class="form-group">
            <label for="{{ form.password1.id_for_label }}"></label>
            {{form.password1}}{{form.password1.errors}}
          </div>
        </td>
      </tr>
      <tr>
        <th>パスワード（確認用）</th>
        <td>
          <div class="form-group">
            <label for="{{ form.password2.id_for_label }}"></label>
            {{form.password2}}{{form.password2.errors}}
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2" align="center">
          <div class="form-group pb-3">
            <div class="custom-control custom-checkbox">
              <input
                class="custom-control-input"
                type="checkbox"
                value=""
                id="invalidCheck"
                required
              />
              <label class="custom-control-label" for="invalidCheck">
                <a href="#">利用規約</a>に同意する
              </label>
              <div class="invalid-feedback mb-3">
                提出する前に同意する必要があります
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-lg">
            送信
          </button>
        </td>
      </tr>
    </table>
  </form>
</div>
<script>
  // 無効なフィールドがある場合にフォーム送信を無効にするスターターJavaScriptの例
  (function () {
    "use strict";

    window.addEventListener(
      "load",
      function () {
        // カスタムブートストラップ検証スタイルを適用するすべてのフォームを取得
        var forms = document.getElementsByClassName("needs-validation");
        // ループして帰順を防ぐ
        var validation = Array.prototype.filter.call(forms, function (form) {
          // submitボタンを押したら以下を実行
          form.addEventListener(
            "submit",
            function (event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add("was-validated");
            },
            false
          );
        });
      },
      false
    );
  })();
</script>
