{% extends "base.html" %}
{% block contents %}
<div class="container-fluid" style="margin-top: 60px;">
  <div class="row">
    <div class="col-md-6 offset-md-3" >
 
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">{{ object.title }}</h4>
      <p>{{ object.text | linebreaksbr}}</p>
      <p class="text-muted">作成日:{{ object.created_at    }}</p>
      <p class="text-muted">更新日:{{ object.updated_at }}</p>
      <!--<p>{% for category in post.category.all %}{{ category }},{% endfor %}</p>-->
      <a class="btn btn-primary" href="javascript:void(0);" onclick="window.history.back();">戻る</a>
    </div>
 
    </div><!-- end col-md-6 offset-md-3 -->
  </div><!-- end row -->
</div><!-- end container-fluid -->
{% endblock %}